.coin-details {
  background-color: #313033;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 11px 44px;
}

.coin-details-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coin-details-item span {
  font-size: 9px;
  color: #fff;
  font-weight: 600;
}

.coin-details-item span:first-of-type {
  font-size: 10px;
  color: #ffffff;
  font-weight: normal;
}
