.creator-view-info-header {
  margin-right: 35px;
  display: flex;
  flex-direction: row;
  padding-bottom: 17px;
}

.creator-view-info-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.creator-view-info-column:first-of-type {
  flex: 0;
}

.creator-view-info-header-details {
  display: flex;
  height: 41px;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.creator-view-info-header-name {
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.creator-view-info-header-img {
  margin: 0px 13px;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  flex: 0;
}

.creator-view-info-header-price {
  font-size: 12px;
  color: #ffffff;
}

.creator-view-info-header-subdetails {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.creator-view-info-header-subdetails span {
  font-size: 12px;
  color: #ffffff;
}

.creator-view-info-header-subdetails span img {
  margin-right: 5px;
}

.creator-view-info-header-subdetails span.subdetails-percent {
  color: #5bf1a5;
}
